.container {
    margin: 0 auto;
    display: flex;
    max-width: 1198px;
    /* margin-top: 40px; */
}
.bgblack {
    background-color: black;
}
.bggreen { 
    background-color: #00FB6B;
}
header {
    position: relative;
    /* left: 0;
    right: 0; */ 
}
.btn-default1 {  
    text-decoration: none;
    font-family: inherit,Arial, Helvetica, sans-serif;
    background-color: #04F575;
    text-transform: uppercase;
    color: #000;
    text-align: center; 
    border: 3px solid rgba(50,199,110,0);
    margin: auto;
}
.logo-img {
    max-height: 34px;
}

/* conteúdo */ 
.area-content {
    height: 100vh;
}
.area-content-iten {
    display: flex;
}
.content-itens {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content-itens-title {
    font-family: 'Work Sans',sans-serif;
    font-weight: bolder;
    text-transform: uppercase; 
    font-size: 42px;    
}

.content-itens-desc{
    font-family: 'Work Sans',sans-serif;
    /* font-size: 17px; */
    font-size: 21px
}
.content-itens-title, .content-itens-desc {
    color: white;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 30px;
}
.content-itens-button {
    font-family: 'inherit';
    font-weight: bold;

}
.content-itens-button {
    font-family: inherit,Arial, Helvetica, sans-serif;
    background-color: #04F575;
    text-transform: uppercase;
    text-align: center;
    padding: 17px 24px;
    border: 3px solid rgba(50,199,110,0);
}
/* REPRESENTANT FIX */  
.widget-representant {
    display: flex;
}
.widget-representant-item:nth-child(1){
    /* max-height: 650px;
    max-width: 780px; */
    flex: 1;
}
.widget-representant-item:nth-child(2){
    flex: 1;
}
.representant-itens-area {
    display: flex;
}
.widget-representant-item img {
    width: 100%;
}
.widget-representant-item-area{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;

}
 
.representant-itens-title {
    color: #8CD898;
    font-size:17px;
    font-style:normal;
    font-weight:bold;
    text-transform:capitalize
}
.representant-itens-title2 {
    font-weight: bolder;
    font-size: 32px;
}
.representant-itens-desc {
    font-family: 'Work Sans',sans-serif;
    color: #4b4f58;
    font-size: 17px;
}

/* Módulos */
.modulo-area {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}
.area-itens-img img{
    width: 360px;
    height: 270px;
}
.area-itens-title {
    font-family: 'Work Sans',sans-serif;
    font-size: 28px;
    color: #303030;
    font-weight: bolder;
    margin-bottom: 20px;
}
.area-itens-desc {
    color: #4b4f58;
    font-weight: 17px;
    font-family: 'Work Sans',sans-serif;
    padding: 0 5px;
}

/* ABOUT COURSE */
.about-course{
    background-color: #000;
    display: flex;
    color: white;
    text-align: center;
    margin: 68px 0;
}
.about-course-itens-title {
    font-size: 48px;
    text-transform: uppercase;
    font-family: Poppins,sans-serif;
    margin-bottom: 30px;
    letter-spacing: 1.5px;
}
.about-couse-itens-desc{
    font-family: "Work Sans",sans-serif;
    line-height: 1.5;
    margin-bottom: 35px;
    
}
.about-course-itens:first-child {
    padding: 50px;
}
.about-course-itens {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.about-course-itens:nth-child(1){
    flex: 1;
}
.about-course-itens:nth-child(2){
    flex: 3;
    max-height: 650px;
    max-width: 780px;
}
.about-course-itens img {
    width: 100%;
}
.about-couse-itens-btn a {
    padding: 17px 24px;
}


/* Depoimentos */
.depoimentos-area {
    display: flex;
    flex-direction: column;
}
.depoimentos-area-title {
    font-family: Poppins,sans-serif;
    text-align: center;
    color: #3a3a3a;
    font-size: 50px;
    margin-bottom: 30px;

}
.depoimentos-area-alunos {
    display: flex;
}

.alunos-title {
    font-family:'Work Sans',sans-serif;
    text-align: center;
    color: #4b4f58;
    font-size: 17px;
    margin-bottom: 30px;
}
.alunos-desc {
    font-family:'Work Sans',sans-serif;
    text-align: center;
    color: #4b4f58;
    font-size: 17px;
    line-height: 1.5;
}

.widget-area {
    display: flex;
    margin: 60px 0;
}
.widget-area-itens {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.widget-area-itens:nth-child(1){
    flex: 3;
}
.widget-area-itens:nth-child(2){
    flex: 1;
    padding: 0 30px;
}
.widget-area-itens   {
    max-height: 650px;
    max-width: 780px;
}
.widget-area-itens img {
    width: 100%;
}

.widget-area-title {
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    font-family: Poppins,'sans-serif';
    margin-bottom: 20px;
    text-align: center;
}
.widget-area-desc {
    font-family: 'Work Sans',sans-serif;
    font-size: 17px;
    /* margin-bottom: 25px; */
    line-height: 1.5;
    text-align: center;
    color: black;
    font-weight: 500;
}
.widget-area-btn a {
    background-color: #000;
    color: white;
    padding: 17px 24px;
    display: inherit;
}